@import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

/** box registracija_korak */
.hr-dark {
	border-color: #393939;
	width: 30%;
}

.registracija {
	padding:15px;	
}

.box-registration-step {
	
	background-color:#32E774;
	color: #333;
	
}

.box-registration-step-active {
	
	background-color:#333;	
	color: #fff;
	
}


/** profil */
.profil-box {
	background-color: #eee;
	color: #333;
	padding: 5px;
	border-top:10px solid #C72ECB;
}

.text-black {
	color: #333;	
}

/** search */

.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result  { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

/** CIRCLE CIMER */

.profile-header-img {
    padding: 5px 7px;
	cursor: pointer;
}

.profile-header-img > img.img-circle {
    width: 80px;
    height: 80px;
    border: 2px solid rgba(59,228,89,1.00);
}

.profile-header {
    margin-top: 43px;
	cursor: alias;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -19px;
}

.label.label-default.rank-label {
    background-color: rgba(59,228,89,1.00);
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
	color: #333;
}

/** BOX STANOVANJA */
.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: right;
    display: block;
    margin-top: 60px;
	background-color: #dadada;
	opacity: 0.9;
}
.box-icon {
    background-color: #C037AE;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

/* Custom Button Styles */
.fa-bars {
	color:#e9e9e9;
}
.btn-dark {
    border-radius: 0;
    background-color: #333;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #333;
    background-color: rgba(255,255,255,0.70);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: #eee;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    background: #eee;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #333;
    background: rgba(255,255,255,0.8);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #333;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #333;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.aktiven {
	background-color: #5CEF68;
}

/* The Modal (background) */
.modal-header {
	height: 20%;
}

.modal-footer {
	height: 50px;	
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/**BTN CIRCLE*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

/**BTN OUTLINE*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.panel-purple {
	background-color: #B82493;
	color: white;
	border:none;
}

.panel-green {
	background-color: #52DB51;
	color: white;
	border:none;
}

.panel-footer {
	background-color: #F4F4F4;
}

.hr-short {
	width: 50%;	
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #333;	 
}

.naslovna_image {
	 background: url(../image/r2ndtocgablww9rzkm9v.jpg) no-repeat fixed center;
	 background-size: cover;
	 height: 100vh;	
	 
}

.naslovna_image_autoH {
	 background: url(../image/r2ndtocgablww9rzkm9v.jpg) no-repeat fixed center;
	 background-size: cover;
	 height: auto;	
	 
}

@media screen and (max-width: 750px) {
		 .naslovna_image {
			height: 1000px;

		 }
	 }

.search-input {
    border-right: 0;
	border-radius:0;
	font-size: 15px;
}

.box_soba {
	background-color: #55D74B;
	border: #A42F8A thin solid;
}

.bg-violcno {
	background-color:#A42F8A;
}

.bg-zeleno {
	background-color:#55D74B;
}

.btn-violcno {
	border-color: #A42F8A;
	color: #A42F8A;
}

.btn-violcno:hover {
	background-color: #A42F8A;
	color: white;
}

.search-icon {
    border-left:0 solid transparent;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

html {
	 /**overflow:hidden;	*/
}

h1 {
	font-family: 'Poiret One', cursive;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

h3 {
	font-family: 'Open Sans', sans-serif;
}

.text-white {
	color: white;
}
/* unvisited link */
a:link {
    color: #333;
}

/* visited link */
a:visited {
    color: #626262;
}

/* mouse over link */
a:hover {
    color: #909090;
}

/* selected link */
a:active {
    color: #1A1A1A;
}